{% for movement in movements %}
<tr>
  <td>{{ movement.text }}
    <br/>
    <i style="color: grey;">{{ movement.timestamp}}</i>
  </td>
  <td {% if movement.amount > 0 %} style="color: green;" {% endif %}>
  {{ movement.amount }}</td>
</tr>
{% endfor %}
