<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://classless.de/classless-tiny.css" />
    <title>Bank</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <footer style="height: 30px;"></footer>
    <script defer src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script defer>
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      });
    </script>
  </body>
</html>
