{% extends './base.html' %} {% block content %}

<a href="{% url 'bank_app:employee' %}">Back</a>
<h1>Customer details for {{ customer.user.username }}</h1>
<ul>
  <li>User name: {{ customer.user.username }}</li>
  <li>Phone number: {{ customer.phone }}</li>
  <li>Email: {{ customer.user.email }}</li>
  <li>Rank: <span id="rank_display">{{ customer.rank }}</span></li>
</ul>

<form
  style="
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  "
>
  <h2>Change rank</h2>
  <input name="pk" type="hidden" value="{{ customer.pk }}" />
  <label for="rank">Rank:</label>
  <select id="rank" name="rank">
    <option value="Basic">Basic</option>
    <option value="Silver">Silver</option>
    <option value="Gold">Gold</option>
  </select>
  <button
    hx-post="{% url 'bank_app:set_rank' %}"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="#rank_display"
  >
    Change rank
  </button>
</form>

<form
  style="
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  "
>
  <h2>Create account</h2>
  <input placeholder="Name" name="name" />
  <input name="pk" type="hidden" value="{{ customer.pk }}" />
  <label for="is_loan">
    Is loan?
    <input name="is_loan" type="checkbox" />
  </label>
  <button
    hx-post="{% url 'bank_app:create_account' %}"
    hx-trigger="click"
    hx-swap="beforeend"
    hx-target="#accounts_list"
  >
    Create
  </button>
</form>

<h2>Accounts</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is loan</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody
    id="accounts_list"
    hx-swap="innerHTML"
    hx-get="{% url 'bank_app:get_accounts_partial' customer.pk %}"
    hx-trigger="load"
  ></tbody>
</table>
{% endblock %}
