{% extends './base.html' %} {% block content %}
<h1>Hello, you are an employee!</h1>
<p>hope you get paid well</p>
<a href="{% url 'bank_app:logout' %}">Log out</a>

<form style="
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
      ">
  <h2>Create customer</h2>
  <input placeholder="Username" name="username" />
  <input placeholder="First name" name="first_name" />
  <input placeholder="Last name" name="last_name" />
  <input placeholder="Email" name="email" />
  <input placeholder="Phone number" name="phone" />
  <input placeholder="Password" name="password" type="password" />
  <button
    hx-post="{% url 'bank_app:create_customer' %}"
    hx-trigger="click"
    hx-swap="beforeend"
    hx-target="#customer_list"
  >
    Create
  </button>
</form>
<h2>Customers</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody
    id="customer_list"
    hx-swap="innerHTML"
    hx-get="{% url 'bank_app:get_customers_partial' %}"
    hx-trigger="load"
  ></tbody>
</table>

{% endblock %}
